@import "base/variables.css";
@import "base/reset.css";
@import "base/typography.css";
@import "base/global.css";

@import "layout/header.css";
@import "layout/navigation.css";
@import "layout/hero.css";
@import "layout/footer.css";

@import "components/buttons.css";
@import "components/cards.css";
@import "components/forms.css";
@import "components/overlays.css";

@import "pages/home.css";
@import "pages/insights.css";
@import "pages/article.css";
@import "pages/about.css";

@import "utilities/animations.css";
