header {
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  background: var(--white);
  z-index: 1200;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 14px rgba(0,0,0,0.08);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
